@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
#container{
  background:#222021;
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
}
.messages{
  background:#333;
  color:white;
  border-radius:2px;
  border-left:3px solid #305d5d;
  box-shadow:0 0 2px rgba(0,0,0,.2),0 2px 1px rgba(0,0,0,.2);
}
.user-container  a.signature{
  color:white;
}
.mine .messages {
    background-color: #494a54;
}
div.message.reply-parent,
div.message.reply-child{
  background:rgba(0,0,0,0.1);
  position:relative;
}
div.message.reply-parent .content:before,
div.message.reply-child .content:before{
  content:"!";
  position:absolute;
  left:2px;
  top:2px;
  color:white;
  background:#305d5d;
  line-height:1em;
  width:1em;
  text-align:center;
  border-radius:50%;
}

#input-area{
  background: #333;
}
#input{
  background:#222021;
  color:white;
  border:none;
  resize:none;
  font-family: 'Source Sans Pro', sans-serif;
}
