@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
#container{
  background:#222021;
  color:white;
}
*{
  font-family: 'Source Sans Pro', sans-serif;
}
.messages{
  background:#333;
  color:white;
  border-radius:2px;
  border-left:3px solid #305d5d;
  box-shadow:0 0 2px rgba(0,0,0,.2),0 2px 1px rgba(0,0,0,.2);
}
.user-container  a.signature{
  color:white;
}
.mine .messages {
    background-color: #494a54;
}
div.message.reply-parent,
div.message.reply-child{
  background:rgba(0,0,0,0.1);
  position:relative;
}
div.message.reply-parent .content:before,
div.message.reply-child .content:before{
  content:"!";
  position:absolute;
  left:2px;
  top:2px;
  color:white;
  background:#305d5d;
  line-height:1em;
  width:1em;
  text-align:center;
  border-radius:50%;
}

#input-area{
  background: #333;
}
#input{
  background:#222021;
  color:white;
  border:none;
  resize:none;
  font-family: 'Source Sans Pro', sans-serif;
}
.system-message{
  color:white;
}
.button{
  background: #305d5d;
  padding: 3px 14px;
  font-family: 'Source Sans Pro', sans-serif;
}
.button:hover{
  background: #509595;
}
.button.disabled, .button.disabled:hover{
  background:#305d5d;
  opacity:0.3;
}
.monologue.catchup-marker, .monologue.catchup-marker-1{
  border-top: 1px solid #305d5d;
}
.mention{
  background: #C2185B;
  padding: 1px 2px;
  border-radius: 2px;
}
a{
  color: #5C6BC0;
}
.ob-post-tag, .ob-user-tag, .tag, .ob-post-tag[style], .ob-user-tag[style]{
  border:none !important;
  background-color: #948956 !important;
  color: white !important;
}
#sidebar{
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
}
#sidebar #info #roomtitle{
  text-shadow:none;
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
}

.popup, #main.message-admin-mode .message-controls, #conversation-sel{
  background: #333;
  color: white;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  border:none;
  border-left: 3px solid teal;
}
#searchbox{
  font-family: 'Source Sans Pro', sans-serif;
    background: #333;
    border: none;
    padding: 2px 3px;
    font-family: inherit;
}
#sidebar #info #sidebar-menu{
    color: #545454;
    border:none;
}
#tabcomplete li{
  background: teal;
  border: none;
  color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
#present-users, ul#my-rooms{
  border:none;
}
ul#my-rooms>li.activity-0{
  color:#5C6BC0;
}
ul#my-rooms>li.activity-2 {
    color: white;
}
div#starred-posts>div>ul>li{
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.msg-small{
  color:white;
}
.monologue .timestamp, div.message .meta{
  background: #404040;
  color: white;
}
